<style media='screen' type='text/css'>
      @font-face {
        font-family: Rainy Hearts;
        src: url('../assets/rainyhearts.ttf');
        font-weight:400;
        font-weight:normal;
      }
</style>